#scene2 {
  .content {
    > div {
      &.lang-select {
        flex-direction: row;
      }
    }
    .lantern-wrapper {
      max-width: 100%;
      .lantern-select {
        max-width: 100%;
        .slick-slide {
          padding-top: 50px;
          text-align: center;
          &.slick-center img {
            transform: scale(1.08);
          }
          img {
            transition: transform 0.5s;
            margin: 0 auto;
            width: 100%;
            max-width: 200px;
          }
        }
      }
    }
  }
}
