#scene3 {
  .content {
    display: block;
    > div {
      > img {
        height: 100%;
      }
    }
    .cta-send-off {
      height: 20%;
      padding-top: 15%;
    }
    @media screen and (min-width: 768px) {
      .cta-send-off {
        height: 25%;
        padding-top: 5%;
      }
    }
    .cta-lantern {
      height: 70%;
      margin-bottom: -45px;
      padding-top: 100px;
      position: relative;
      z-index: 99;
    }
    .img-selected {
      position: relative;
      height: 45%;
      user-drag: none;
      user-select: none;
      pointer-events: none;
      img {
        margin-top: 15px;
      }
    }
    .cta-flickup {
      height: 20%;
    }
    .cta-share-on {
      height: 25%;
      position: relative;
      @media screen and (min-width: 768px) {
        height: 15%;
      }
    }
  }

  .subScene3 {
    .img-selected {
      margin-top: 10%;
      @media screen and (min-width: 768px) {
        margin-top: 2%;
      }
    }
  }
}
