#scene5 {
  .content {
    display: block;
	 
	  > div {
    	position: relative;
      z-index: 2;
    }

    .bg-lantern {
    	position: absolute;
    	width: 100%;
    	z-index: 1;

    	img {
    		position: absolute;
		    width: 100%;
		    left: 50%;
		    transform: translateX(-50%);
		    top: -50px;
		    z-index: 1;
        max-width: 365px;
    	}
    }

    .wish {
    	margin-top: 120px;
    	height: 20%;

    	img {
    		height: 100%;
    		padding: 0px 15px;
    	}
    }

	  .actions {
    	display: flex;
    	position: absolute;
    	bottom: 0px;
    	width: 100%;
      justify-content: center;
      
      > div {
        padding: 0px 2px;
      }

    	img {
    		max-height: 150px;
    	}

    	img:hover {
    		cursor: pointer;
    	}
    } 
  }
}