#scene2 {
  .content {
    display: block;
    > div {
      &.lang-select {
        flex-direction: row;
      }
    }
    
    > div {
      > img {
        height: 100%;
      }
    }

    .cta-choose {
      padding-top: 8px;
      height: 20%;
    }

    .lang-select {

      img {
        height: 20px;
      }
    }

    .cta-swipe {
      height: 20%;

      img {
        margin-top: -25px;
      }
    }

    .lantern-wrapper {
      max-width: 100%;
      height: 40%;
      .lantern-select {
        max-width: 100%;
        .slick-slide {
          /*padding-top: 50px;*/
          text-align: center;
          position: relative;
          &.slick-center img {
            transform: translate(-50%, -50%) scale(1.08);
          }
          img {
            transition: transform 0.5s;
            margin: 0 auto;
            /*width: 90%;*/
            height: 92%; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*max-width: 400px;*/
          }
        }
      }

      .slick-slider, .slick-list, .slick-track {
        height: 100%;
      }
    }

    .btn-done {
      height: 50px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      color: white;
      font-weight: 600;
      padding-top: 14px;
      background-color: rgba(0,0,0,0.3);
    }

    .btn-done:hover {
      cursor: pointer;
      background-color: rgba(0,0,0,0.7);
    }
  }
}
